{% extends "base.html" %}
{% load static %}

{% block content %}

<script src="{% static 'logged_out.js' %}" defer></script>
<div class="logged-out-notice">Nastąpiło poprawne wylogowanie ze strony.</div>
<p><a href="/">Powrót do strony głównej</a></p>

{% endblock %}