{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="login-error"></div>
    <script src="{% static 'login.js' %}" defer></script>

<form method="post" onsubmit="submitLoginCredentials(event)">
    {% csrf_token %}
    <input type="text" id="username" placeholder="Username" />
    <input type="password" id="password" placeholder="Password" />
    <input type="submit" value="login" />
</form>

{% endblock %}