body {
    margin: 0px;
}

.primary-header {
    background-color: #111e7a;
    min-width: 320px;
    width: 100%;
    height: 87px;
}

#logo {
    float:left;
    width: 320px;
    height: 87px;
}

#logo-extension {
    background-color: #ffffff;
    width: auto;
    height: 87px;
    overflow: hidden;
}

#logo-blue-fill {
    background-color: #111e7a;
    width:inherit;
    height: 67px;
}

#logo-red-bar {
    background-color: red;
    width:inherit;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#login-info {
    float: right;
    padding: 5px;
    margin-right: 5px;
}

nav {
    padding: 5px;
}

#nav-children {
    padding: 5px;
    margin-bottom: 10px;
}

#nav-children a {
    margin: 2px;
}

.results-table-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.results-table-header {
    margin-top: 16px;
    margin-bottom: 3px;
}

.results-table {
    border-top-style: solid;
    border-color: red;
}

@media only screen and (max-width: 520px) {
    .results-table tr td:nth-child(4) {
        display: none;
        visibility: hidden;
    }
}

.results-table tr td:nth-child(1) {
    width: 50%;
}

.results-table tr td:nth-child(4) {
    min-width: 100px;
    height: 100%;
    overflow: auto;
}

.vote-perc-bar {
    min-height: 13px;
    height: 80%;
    background-color: #aaaaaa;
}

.vote-perc-bar-winner {
    background-color: #ff3333;
}

.vote-perc-bar-2nd-best {
    background-color: dodgerblue;
}

.results-table th {
	color: #111e7a;
	font-weight: bold;
}

.results-table tbody tr:hover {
    background-color: #ffff99;
}

.results-table tr:nth-child(even) {
    background-color: #eee;
}

.results-table tr:nth-child(odd) {
    background-color: #fff;
}

.vote-edit-container {
    margin: 10px auto 15px;
    padding: 5px;
    border: 1px grey solid;
    border-radius: 5px;
}

.vote-edit-container p {
    margin: 0;
}

.vote-edit-form-errors {
    margin: 15px;
    border: 1px #FF5555 solid;
    border-radius: 3px;
    background-color: #FFBBBB;
}