<!doctype html>
<html lang="pl">
<head>
    {% block head %}
    <title>Wybory Prezydenta Rzeczypospolitej Polskiej 2000</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script type="text/javascript" src="{% static "dynamic_nodes.js" %}" defer></script>
    {% endblock head %}
</head>
<body>
    {% include 'header.html' %}
    {% block navigation %}
    {% endblock navigation %}

    {% block content %}
    {% endblock content %}

    {% block results %}
    {% endblock results %}
</body>
</html>
