{% extends "base.html" %}
{% load static %}
{% block navigation %}
    <nav>
    <a href="/gmina/search/">Wyszukaj gminę</a> |
    <span id="nav-tree">
        {% for k,v in nav.items %}
            <a href="{{ v }}">{{ k }}</a>
            {% if not forloop.last %}
                ->
            {% endif %}
        {% endfor %}
    </span>
    <div id="nav-children">
        {% for k,v in nav_children.items %}
            <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
    </div>
    </nav>
{% endblock navigation %}

{% block content %}
    <script type="text/javascript" src="{% static "gmina_search.js" %}" defer></script>

    <form method="get" onsubmit="updateSearchResults(event)">
        <input type="text" id="gmina-search-name" placeholder="Nazwa gminy..." />
        <input type="submit" value="Submit" />
    </form>

    <div id="gmina-search-results"></div>

{% endblock %}