{% load static %}
<header>
<div class="primary-header">
    <a href="/"><img id="logo" alt="logo" src="{% static "logo.png" %}"/></a>
    <div id="logo-extension">
        <div id="logo-blue-fill"></div>
        <div id="logo-red-bar"></div>
    </div>
    <div id="login-info">
        <a href="{% url 'login' %}?next={{ request.get_full_path }}">Zaloguj</a>
    </div>
    <script type="text/javascript" src="{% static "header.js" %}" defer></script>
</div>
</header>
