{% extends "results_single.html" %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['geochart']});
        google.charts.setOnLoadCallback(function() {
            var data = google.visualization.arrayToDataTable([
                ['Voivodeship'],
                ['Dolnośląskie'],
                ['Kujawsko-pomorskie'],
                ['Lubelskie'],
                ['Lubuskie'],
                ['Łódzkie'],
                ['Małopolskie'],
                ['Mazowieckie'],
                ['Opolskie'],
                ['Podkarpackie'],
                ['Podlaskie'],
                ['Pomorskie'],
                ['Śląskie'],
                ['Świętokrzyskie'],
                ['Warmińsko-mazurskie'],
                ['Wielkopolskie'],
                ['Zachodniopomorskie'],
            ]);

            var options = {
                resolution: 'provinces',
                region: 'PL',
                displayMode: 'regions',
            };

            var chart = new google.visualization.GeoChart(document.getElementById('voivodeships'));
            google.visualization.events.addListener(chart, 'regionClick', function(elem) {
                if (elem.region.startsWith('PL')) {
                    // ISO 3166-2:PL to Google Geotargeting Criteria ID
                    regions = {
                        'PL-DS': 20847,
                        'PL-KP': 20848,
                        'PL-LU': 20851,
                        'PL-LB': 20849,
                        'PL-LD': 20850,
                        'PL-MA': 20852,
                        'PL-MZ': 20853,
                        'PL-OP': 20854,
                        'PL-PK': 20856,
                        'PL-PD': 20855,
                        'PL-PM': 20857,
                        'PL-SL': 20859,
                        'PL-SK': 20858,
                        'PL-WN': 20860,
                        'PL-WP': 20861,
                        'PL-ZP': 20862,
                    };
                    document.location.href = document.location.origin + '/' + 'wojewodztwo' + '/' + regions[elem.region];
                }
            });
            function drawResponsiveChart() {
                var height = window.innerHeight;
                var min = 0, max = 600;
                height = Math.min(Math.max(height, min), max);

                // Assume height = 0.66 * width for aspect ratio and whatnot
                if (height > 0.66 * window.innerWidth)
                    height = 0.66 * window.innerWidth;

                options.keepAspectRatio = true;
                options.height = height;

                chart.draw(data, options);
            }

            window.addEventListener('resize', function() {
                drawResponsiveChart();
            });

            drawResponsiveChart();
        })
    </script>
    <div id="voivodeships" class="visualization"></div>
{% endblock content %}
