{% extends "results_single.html" %}

{% block results %}
    <section class="results">
        <div class="results-table-container">
            <table class="results-table">
                <thead>
                    <th>Kandydat</th>
                    <th>Liczba ważnych oddanych głosów</th>
                    <th colspan="2">Procentowa liczba ważnych oddanych głosów</th>
                </thead>
                <tbody id="single-results-table-body"></tbody>
            </table>
            <div id="results-details"></div>

            {% include "obwod_edit_results.html" %}

        </div>
    </section>
{% endblock %}