{% load static %}
<script src="{% static 'edit_results.js' %}" defer></script>
<div class="vote-edit-container" id="vote-edit">
    <p>Edytuj wyniki 😈:</p>
    <div class="vote-edit-form-errors" id="vote-edit-error"></div>

    <form id="vote-edit-form" method="post" onsubmit="updateVoteCount(event)">
        {% csrf_token %}
        <label for="candidate-id">Kandydat: </label>
        <select name="Kandydat" id="candidate-id"></select>
        <label for="vote-count">Głosy: </label>
        <input type="number" id="vote-count" />

        <input type="submit" value="Submit" />
    </form>
</div>