{% extends "base.html" %}
{% block navigation %}
    <nav>
    <a href="/gmina/search/">Wyszukaj gminę</a> |
    <span id="nav-tree">
        {% for k,v in nav.items %}
            <a href="{{ v }}">{{ k }}</a>
            {% if not forloop.last %}
                ->
            {% endif %}
        {% endfor %}
    </span>
    <div id="nav-children">
        {% for k,v in nav_children.items %}
            <a href="{{ v }}">{{ k }}</a>
        {% endfor %}
    </div>
    </nav>
{% endblock navigation %}

{% block results %}
    <section class="results" >
        <div class="results-table-container">
            <table class="results-table">
                <thead>
                    <th>Kandydat</th>
                    <th>Liczba ważnych oddanych głosów</th>
                    <th colspan="2">Procentowa liczba ważnych oddanych głosów</th>
                </thead>
                <tbody id="single-results-table-body"></tbody>
            </table>
        </div>
    </section>
{% endblock %}
